{{> admin/_navbar}}
{{> admin/_settings-panel}}
{{> admin/_sidebar}}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Appointments</h4>
                  <p class="card-description">
                    List of your appointments for this month
                  </p>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <button type="button" class="btn btn-success" onclick ="location.href = '/admin/appointments/create'" >Create Appointment</button>
                      <thead>
                        <tr>
                          <th>Date</th>
                          <th>Title</th>
                          <th>Client</th>
                          {{#if admin}}
                          <th>Employee</th>
                          {{/if}}
                          <th>Status</th>
                          <th>View</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each appointments}}
                        <tr>
                          <!-- FIX TIMEZONES ISSUE -->
                          <td>{{formatDate date "MM-DD-YYYY"}}</td>
                          <td>{{title}}</td>
                          <td>{{clientName}}</td>
                          {{#if ../admin}}
                          <td><a href="/admin/employees/{{employee}}">{{employeeName}}</a></td>
                          {{/if}}
                          <td>
                            {{#if completed}}<label class="badge badge-success">Completed</label>
                            {{else}}<label class="badge badge-warning">In progress</label>
                            {{/if}}
                          </td>
                          <td><button type="button" class="btn btn-success" onclick ="location.href = 'appointments/{{_id}}'">Edit</button></td>
                        </tr>
                        {{/each}}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
      </div>
  </div>
  {{> admin/_footer}}
</div>
